<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NPAPI_Download_Plugin</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>me.tanhao.NPAPI_Download_Plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>WebPluginDescription</key>
	<string>NPAPI_Download_Plugin using the Cocoa event model</string>
	<key>WebPluginName</key>
	<string>NPAPI_Download_Plugin</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/binary</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>dmg</string>
		</dict>
		<key>application/bzip2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>bz2</string>
		</dict>
		<key>application/disk-image</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>dmg</string>
		</dict>
		<key>application/dmg</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>dmg</string>
		</dict>
		<key>application/force-download</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>dmg</string>
		</dict>
		<key>application/mac-compactpro</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>cpt</string>
		</dict>
		<key>application/macbinary</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>bin</string>
		</dict>
		<key>application/msword</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>doc</string>
		</dict>
		<key>application/octet-stream</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp4,avi,mp3,rar,bin,bz2,gz,dmg,tgz,lha,lzh,exe,tar</string>
		</dict>
		<key>application/octet-stream2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp4,avi,mp3,rar,bin,bz2,gz,dmg,tgz,lha,lzh,exe,tar</string>
		</dict>
		<key>application/ogg</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>ogg</string>
		</dict>
		<key>application/pdf</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>pdf</string>
		</dict>
		<key>application/postscript</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>ps,eps</string>
		</dict>
		<key>application/stuffit</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>sit</string>
		</dict>
		<key>application/thunder_download_plugin</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Thunder Download Plugin</string>
		</dict>
		<key>application/vnd.ms-excel</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>xls</string>
		</dict>
		<key>application/vnd.ms-powerpoint</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>ppt</string>
		</dict>
		<key>application/x-apple-diskimage</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>dmg</string>
		</dict>
		<key>application/x-bittorrent</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>torrent</string>
		</dict>
		<key>application/x-bz2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>bz2</string>
		</dict>
		<key>application/x-bzip2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>bz2,tbz</string>
		</dict>
		<key>application/x-compress</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>taz</string>
		</dict>
		<key>application/x-disk-image</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>dmg</string>
		</dict>
		<key>application/x-diskcopy</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>dmg</string>
		</dict>
		<key>application/x-dosexec</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>exe</string>
		</dict>
		<key>application/x-download2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>
    mp4,avi,mp3,rar,bin,bz2,gz,dmg,tgz,lha,lzh,exe,tar</string>
		</dict>
		<key>application/x-dvi</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>dvi</string>
		</dict>
		<key>application/x-gtar</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>tgz</string>
		</dict>
		<key>application/x-gzip</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>gz,tgz</string>
		</dict>
		<key>application/x-macbinary</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>bin</string>
		</dict>
		<key>application/x-msdownload</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>exe</string>
		</dict>
		<key>application/x-msvideo</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>avi</string>
		</dict>
		<key>application/x-octet-stream</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp3</string>
		</dict>
		<key>application/x-pilot</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>prc</string>
		</dict>
		<key>application/x-quartzcomposer</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>qtz</string>
		</dict>
		<key>application/x-rar</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>rar</string>
		</dict>
		<key>application/x-rar-compressed</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>rar</string>
		</dict>
		<key>application/x-sit</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>sit</string>
		</dict>
		<key>application/x-tar</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>gz,tgz,tar</string>
		</dict>
		<key>application/x-url-list</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>urls</string>
		</dict>
		<key>application/x-zip</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>zip</string>
		</dict>
		<key>application/x-zip-compressed</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>zip</string>
		</dict>
		<key>application/zip</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>zip</string>
		</dict>
		<key>application/zip-compressed</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>zip</string>
		</dict>
		<key>audio/audible</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>aa</string>
		</dict>
		<key>audio/mp3</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp3</string>
		</dict>
		<key>audio/mpeg</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp3</string>
		</dict>
		<key>audio/mpeg3</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp3</string>
		</dict>
		<key>audio/shorten</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>shn</string>
		</dict>
		<key>audio/x-aac</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>aac</string>
		</dict>
		<key>audio/x-audible</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>aa</string>
		</dict>
		<key>audio/x-flac</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>flac</string>
		</dict>
		<key>audio/x-mp3</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp3</string>
		</dict>
		<key>audio/x-mpeg</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp3</string>
		</dict>
		<key>audio/x-mpeg3</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp3</string>
		</dict>
		<key>audio/x-shorten</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>shn</string>
		</dict>
		<key>chemical/x-pdb</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>pdb</string>
		</dict>
		<key>video/avi</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>avi</string>
		</dict>
		<key>video/mp4</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mp4,mpg4</string>
		</dict>
		<key>video/mpeg</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mpg,mpeg</string>
		</dict>
		<key>video/ms-wmv</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>wmv</string>
		</dict>
		<key>video/msvideo</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>wmv</string>
		</dict>
		<key>video/ogg</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>ogg</string>
		</dict>
		<key>video/x-mpeg</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mpg,mpeg</string>
		</dict>
		<key>video/x-ms-asf</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>asf</string>
		</dict>
		<key>video/x-ms-wmv</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>wmv</string>
		</dict>
		<key>video/x-msvideo</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>avi,wmv</string>
		</dict>
		<key>video/quicktime</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>mov</string>
		</dict>
	</dict>
</dict>
</plist>
